<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<script src="../../static/js/modernizr.js"></script>

	<title>SuperCubeRobot</title>
<link rel="shortcut icon" href="../../static/images/favicon.ico">
	<meta name="robots" content="noindex, nofollow">
	<meta name="description" content="The description of your website">
	<meta name="keywords" content="the, website, keywords">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

	<!-- Fonts -->
	<link href='../../static/css/css.css' rel='stylesheet' type='text/css'>
	<link href='../../static/css/css1.css' rel='stylesheet' type='text/css'>

	<!-- Essential stylesheets -->
	<link rel="stylesheet" href="../../static/css/font-awesome.min.css">
	<link rel="stylesheet" href="../../static/css/magnific-popup.css">
	<link rel="stylesheet" href="../../static/css/bxslider.css">
	<link rel="stylesheet" href="../../static/css/owl.carousel.css">
	<link rel="stylesheet" href="../../static/css/owl.theme.css">
	<link rel="stylesheet" href="../../static/css/base.css">

	<!-- The stylesheet -->
	<link rel="stylesheet" href="../../static/css/style.css">

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>


<body>


	<!-- Top of the page -->
	<div id="top"></div>





	<!-- Home static background -->
	<section id="home" class="home">
		<div class="header large bg-img fixed background-one">
			<div class="header-inner">


				<!-- Content -->
				<h2 class="bigtext text-white uber mb0">SuperCubeRobot</h2>
				<h6 class="serif bigtext text-white">Course Design of Advance Software Engineering</h6>
				<a class=" btn outline light " href="upload/" target="_blank">UPLOAD</a>
                <a class=" btn outline light " href="basic/" target="_blank">BASIC</a>
				<a class=" btn outline light " href="advance/" target="_blank">ADVANCE </a>


			</div>
		</div>
	</section>

	<!-- Introduction -->
	<section id="intro" class="intro">

		<!-- Introduction text -->
		<div class="row">
			<div class="eight col center text-center">
				<h3 class="uber">
                    <span class="serif"><a target="_blank" href="https://github.com/Xiong-Bear/SuperCubeRobot">Click here to visit our code</a></span><br>
                    <span class="serif">Xiong Yihao, Xin Yuanlin, Liu Yatao</span><br>
                    <span class="serif">Center for Space Utilization, Chinese Academy of Sciences, 2021</span>
                </h3>
			</div>
		</div>

	</section>


	<!-- Javascript -->
	<script src="../../static/js/jquery.min.js"></script>
	<script src="../../static/js/retina.min.js"></script>
	<script src="../../static/js/jquery.magnific-popup.min.js"></script>
	<script src="../../static/js/jquery.bxslider.min.js"></script>
	<script src="../../static/js/owl.carousel.min.js"></script>
	<script src="../../static/js/jquery.fitvids.js"></script>
	<script src="../../static/js/jquery.equal.js"></script>
	<script src="../../static/js/maini.js"></script>


</body>
</html>